.mg-t15 {
  margin-top: 15px; }

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  box-sizing: border-box;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important; }

a {
  text-decoration: none;
  color: midnightblue; }

a:focus {
  text-decoration: none !important; }

.clear-content:after {
  content: '';
  display: block;
  clear: both; }

[class^="icon-"] {
  float: left;
  color: white;
  background: #343434;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  z-index: 10;
  font-size: 22px;
  height: 32px;
  width: 32px; }

.section-tittle {
  margin-bottom: 15px;
  float: left;
  margin-left: 8px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  top: 4px;
  color: #343434; }

.icon-work {
  font-size: 18px;
  position: relative;
  padding-left: 7px;
  padding-top: 6px; }

body {
  width: 21cm;
  margin: 0 auto;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 0 5px black; }
  body main, body aside {
    float: left;
    padding: 20px; }
  body main {
    width: calc(( 100% / 3 ) * 2);
    padding-left: 100px; }
    body main header {
      margin-bottom: 40px; }
    body main section.line-section {
      position: relative;
      padding-bottom: 20px; }
      body main section.line-section:before {
        content: '';
        border-left: 1px solid #121212;
        height: 100%;
        position: absolute;
        left: 15px;
        z-index: 0; }
      body main section.line-section div.section-description {
        float: right;
        width: 90%;
        position: relative;
        padding-bottom: 20px; }
        body main section.line-section div.section-description .date {
          position: absolute;
          left: -110px;
          top: 5px;
          font-size: 0.875rem;
          width: 84px; }
          body main section.line-section div.section-description .date > span {
            display: block; }
        body main section.line-section div.section-description .point-line:before {
          content: '';
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: #121212;
          position: absolute;
          left: -30px;
          top: 5px; }
        body main section.line-section div.section-description h1.point-line:before {
          top: 10px; }
        body main section.line-section div.section-description h2 {
          font-size: 1rem;
          margin-bottom: 10px;
          font-weight: 600;
          font-size: 12px; }
        body main section.line-section div.section-description .description {
          font-size: 0.875rem;
          text-align: justify; }
          body main section.line-section div.section-description .description p {
            margin-bottom: 10px;
            font-size: 0.75rem;
            line-height: 1.5;
            position: relative;
            margin-left: 10px; }
            body main section.line-section div.section-description .description p:before {
              content: '';
              display: block;
              width: 3px;
              height: 3px;
              background: #121212;
              margin-right: 5px;
              position: absolute;
              top: 7px;
              left: -10px; }
          body main section.line-section div.section-description .description a {
            display: block;
            line-height: 1.6;
            font-size: 0.75rem;
            text-align: left;
            margin-left: 10px; }
      body main section.line-section:last-of-type {
        padding: 0; }
      body main section.line-section:nth-child(3n-2) {
        padding-bottom: 0; }
        body main section.line-section:nth-child(3n-2) .section-description {
          padding-bottom: 0; }
  body aside {
    width: calc( 100% / 3); }
    body aside .personal-info-block {
      margin-top: 15px;
      margin-bottom: 15px; }
      body aside .personal-info-block .personal-info {
        margin-top: 15px; }
        body aside .personal-info-block .personal-info > div h4, body aside .personal-info-block .personal-info > div p {
          font-size: 0.75rem; }
        body aside .personal-info-block .personal-info > div h4 {
          font-weight: 600;
          margin-bottom: 5px; }
  body .name-cv {
    font-size: 40px;
    color: #343434;
    text-transform: uppercase; }
  body .work-cv {
    font-size: 14px;
    font-weight: 600;
    color: #7f7f7f; }
  body .profile-pic {
    width: 224px;
    overflow: hidden;
    height: 224px; }
    body .profile-pic img {
      width: 130%;
      position: relative;
      top: -5px;
      left: -15px; }

@media print {
  body {
    width: auto;
    margin: 0;
    box-shadow: none; }
    body * {
      -webkit-print-color-adjust: exact;
      color-adjust: exact; }
    body main .break-page {
      page-break-before: always;
      page-break-inside: avoid;
      margin-top: 1cm; } }

@page {
  size: 210mm 297mm;
  /* Chrome sets own margins, we change these printer settings */
  margin: 0; }

/* .circle { width: 86px; height: 86px; border-radius: 50%; background-color: #6a6a6a; } */
