@function toem($target, $context: 16px) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}

@function torem($target, $context: 16px) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0rem;
}

$COLOR_434: #343434;

.mg-t15 { margin-top: 15px; }
.flex { display: flex; }

* { 
    margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-appearance: none; box-sizing: border-box; font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
}

a { text-decoration: none; color: midnightblue; }
a:focus { text-decoration: none !important; }

.clear-content:after { content: ''; display: block; clear: both; }

[class^="icon-"] { float: left; color: white; background: $COLOR_434; border-radius: 50%; padding: 5px; position: relative; z-index: 10; font-size: 22px; height: 32px; width: 32px; }
.section-tittle { margin-bottom: 15px; float: left; margin-left: 8px; font-weight: 600; text-transform: uppercase; font-size: 20px; position: relative; top: 4px; color: $COLOR_434; }

.icon-work { font-size: 18px; position: relative; padding-left: 7px; padding-top: 6px; }

body { 
    margin: 0 auto; font-size: torem(16px); font-family: 'Raleway', sans-serif; box-shadow: 0 0 5px black;
    .flex { flex-flow: column-reverse; }
    main { 
        header { margin-bottom: 40px; }
        section.line-section {
            position: relative; padding-bottom: 20px;
            &:before { content: ''; border-left: 1px solid #121212; height: 100%; position: absolute; left: 15px; z-index: 0; }
            
            div.section-description {
                float: right; width: 90%;position: relative; padding-bottom: 20px;
                .date { 
                    font-size: torem(14px);
                }
                .point-line:before { content: ''; width: 9px; height: 9px; border-radius: 50%; background: #121212; position: absolute; left: -7.5%; top: 5px; }
                h1 {
                    &.point-line:before { top: 10px; }
                }
                h2 { font-size: torem(16px); margin-bottom: 10px; font-weight: 600; font-size: 12px; }
                .description { 
                    font-size: torem(14px); text-align: justify;
                    p { 
                        margin-bottom: 10px; font-size: torem(12px); line-height: 1.5; position: relative; margin-left: 10px;
                        &:before { content: ''; display: block; width: 3px; height: 3px; background: #121212; margin-right: 5px; position: absolute;
                            top: 7px; left: -10px; }
                            &.link { 
                                text-align: left;
                                &:before { content: none }
                            }
                    }
                    a { 
                        line-height: 1.6; font-size: torem(12px); text-align: left;
                    }
                }
            }
            &:last-of-type { padding: 0; }
            &:nth-child(3n-2) {
                padding-bottom: 0;
                .section-description { padding-bottom: 0; }
            } 
        }
    }
    aside {
        .personal-info-block {
            margin-top: 15px; margin-bottom: 15px;
            .personal-info {
                margin-top: 15px;
                >div {
                    h4, p { font-size: torem(12px); }
                    h4 { font-weight: 600; margin-bottom: 5px; }
                }
            }
        }
        
    
    }
    .name-cv { font-size: 40px; color: $COLOR_434; text-transform: uppercase;  }
    .work-cv { font-size: 14px; font-weight: 600; color: #7f7f7f; }
    .profile-pic { 
        width: 224px; overflow: hidden; height: 224px;
        img { width: 130%; position: relative; top: -5px; left: -15px; }
    }

}


@media print {
    body { 
        width: auto; margin: 0; box-shadow: none;
        * { -webkit-print-color-adjust: exact; color-adjust: exact; }
        

        main .break-page {
            page-break-before: always;
            page-break-inside: avoid;
            margin-top: 1cm;
        }
    }
}

@page {
    size: 210mm 297mm; 
    /* Chrome sets own margins, we change these printer settings */
    margin: 0;
  }

@media(min-width: 850px) {
    body {
        width: 21cm;
        .flex { flex-flow: row; }
        main, aside { padding: 20px; }
        main { 
            width: calc(( 100% / 3 ) * 2); padding-left: 100px;
            section.line-section div.section-description {
                .date { 
                    position: absolute; left: -110px; top: 5px; width: 84px;
                    >span { display: block; }
                }
                .point-line:before { left: -30px; }
            } 
        }
        aside {  width: calc( 100% / 3 ); margin-top: -80px; }
        header { width: calc(( 100% / 3 ) * 2); padding-left: 100px; padding-top: 50px; }
    }
}

@media(max-width: 849px) {
    body {
        padding: 25px 15px;
        header { margin-bottom: 25px; }
        .profile-pic { margin: 0 auto; border: 5px solid #9c9c9c; }
        section.line-section div.section-description {
            .date {
                margin-bottom: 15px;
                span:first-child:after { content: " - " }
            }
        }
    }
}


/* .circle { width: 86px; height: 86px; border-radius: 50%; background-color: #6a6a6a; } */