@font-face {
  font-family: 'cv';
  src:
    url('fonts/cv.ttf?4kmbqt') format('truetype'),
    url('fonts/cv.woff?4kmbqt') format('woff'),
    url('fonts/cv.svg?4kmbqt#cv') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cv' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach_file:before {
  content: "\e226";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-business_center:before {
  content: "\eb3f";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-fingerprint:before {
  content: "\e90d";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-school:before {
  content: "\e80c";
}
.icon-style:before {
  content: "\e41d";
}
.icon-touch_app:before {
  content: "\e913";
}
.icon-work:before {
  content: "\e8f9";
}
